.row-container {
  margin-left: 1.4rem;
  color: white;
}

.row-cards {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
}

.row-cards::-webkit-scrollbar {
  display: none;
}

.movie-card {
  object-fit: contain;
  width: 100%;
  max-height: 180px;
  margin-bottom: 1rem;
  transform: scale(0.9);
  transition: all ease 0.4s;
  cursor: pointer;
}

.movie-card-large {
  object-fit: contain;
  width: 100%;
  max-height: 280px;
  margin-bottom: 1rem;
}

.movie-card:hover {
  transform: scale(1.08);
}
